/* * {
    border: 1px solid rgba(0, 108, 32, 0.2);
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 15px;
}
main {
    display: grid;
    grid-template-rows: 100px 50px 50px 1fr;
}
.logo-nav-misc {
    display: grid;
    grid-template-columns: 275px 1fr 150px;
    font-family: 'Montserrat', sans-serif;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 4fr;
    font-family: 'Montserrat', sans-serif;
    justify-content: start;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 60px;
}
.nav-words {
    padding-right: 10px;
    color: #323438;
    font-size: .7rem;
    text-transform: uppercase;
    margin-right: 10px;
}
.misc-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: end;
    color: #323438;
}
.location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.home-icon {
    font-family: 'Material Icons';
    color: #71767a;
}
.playing-cards-loc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: .8rem;
    text-transform: uppercase;
    color: #71767a;
}
.refining {
    display: grid;
    grid-template-columns: 1fr 11fr 1fr 4fr 2fr 3fr 2fr 6fr;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: .7rem;
    padding-left: 10px;
    margin-bottom: 15px;
}
span {
    display: flex;
    border: solid 1px #71767a;
    padding-left: 5px;
    padding-right: 10px;
    align-items: center;
}
.product {
    display: flex;
    flex-wrap: wrap;
}
.cards {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 25%;
    text-align: center;
    margin-bottom: 22px;
}
.desc {
    font-size: 13px;
    margin: 12px 0 1px;
    color: #323438;
    padding-top: 15px;
    padding-bottom: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-rendering: optimizeLegibility;
}
.price {
    font-size: 17px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #323438;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    letter-spacing: -0.2333px;
}